/* CSS Reset */
/* a way for devs to remove any pre-defined margins and paddings set by the browser. This is to have less hassle in managing space that will be used for the layout of the webpage */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* using Google Fonts for the styling of body texts */


body {
    font-family: 'Open Sans', sans-serif;
}

/* NAV SECTION */

nav {
    padding:0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
    list-style-type: none;
}

/* if you wan to increase/decrease the space of the content to the border, manage the padding

if you want to manage the spacing between the element increas/decrease the margin*/

/* we can also select the multiple selectors with the use of comma */
nav .nav, nav .nav-logo{
    /* creates space around the elemt but outside its border */
    margin: .5rem;
    /* li are naturally block elements. with the use of display: inline we were able to transform li elements to become inline so they would appear beside each other */
    display: inline; 

}

/* INFO SECTION */

/* when we have different measurements for each side, the measuerement for each side can be used (padding-left, padding-right, padding-top, and padding-bottom) */

#intro{
    /* % value is used for the padding/margin to use the relative measurement of the screen of the user */
    padding-left:10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    /* shorthand for padding with same right and left measurement
    2rem 10% 3rem; top left and right bottom */ 

    /* 4 values clockwise direct t r b l ex. 2rem 10% 15% 3rem */

    text-align:center;
}

.header {
    text-align: center;

}

#intro h2, #intro p {
    margin-bottom: 1rem;
}

#intro button {
    color: white;
    /* font-weight to change the thickness fo the text of the element */
    font-weight: bold;
    background-color: #c2195b;
    border-radius:25px;
    font-size: 1rem;
    /* to create space to make the button bigger and to make the content Apply Now more noticeable */
    padding: 1rem;
    
}

#succeed-info {
    /* using shorthand for the same measurement as the intro */
    padding: 2rem 10% 3rem;

}

#succeed-info h2{
    /* to create space between header and cards */
    margin-bottom: 1rem;
}

#succeed-info h3{

    text-align: center;
    /* creates space between h3 and p element in each card */
    margin-bottom: 1rem;
}

#succeed-info .card {
    /* allows the cards to appear next to each other */
    /* inline-consuming only the content width of the element
    block - consuming the full width of the webpage regardless of the content width
    
    inline-block- works as inline for its sibling, but works as block element for elements outside its parent element*/
    display: inline-block;
    /* align elements at the top of the container */
    vertical-align: top;
    /* sets the minimum height in case the content does not fit the card */
    min-height: 175px;
    /* each card will only use 30% of the screen size */
    width: 30%;
    margin-left: .5rem;
    margin-right: .5rem;

}

footer{
    padding: .7rem;
}

footer span{
    margin-left: .5rem;
    margin-right: .5rem;
    /* shorthand:margin: 0.5rem */
    /* shorthand: margin 0.7 0.5rem (t b, and l f) */ 
}

#pre-footer {
    background-color: #028090;
    color:whitesmoke;
    text-align: center;
}

#pre-footer .box {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}